<?php
define('MASHUPGENERATOR_TIMEZONE', 'Europe/Berlin');

define('MASHUPGENERATOR_TWEETS', false);
define('MASHUPGENERATOR_TWEETS_TTL', 3600);
define('MASHUPGENERATOR_TWEETS_USERNAME', '<change>');
define('MASHUPGENERATOR_TWEETS_LIMIT', 10);

define('MASHUPGENERATOR_GITHUBACTIVITIES', false);
define('MASHUPGENERATOR_GITHUBACTIVITIES_TTL', 3600);
define('MASHUPGENERATOR_GITHUBACTIVITIES_USERNAME', '<change>');
define('MASHUPGENERATOR_GITHUBACTIVITIES_LIMIT', 10);

define('MASHUPGENERATOR_FLICKRPHOTOS', false);
define('MASHUPGENERATOR_FLICKRPHOTOS_TTL', 3600);
define('MASHUPGENERATOR_FLICKRPHOTOS_USERID', '<change>');
define('MASHUPGENERATOR_FLICKRPHOTOS_LIMIT', 10);

define('MASHUPGENERATOR_PINBOARDBOOKMARKS', false);
define('MASHUPGENERATOR_PINBOARDBOOKMARKS_TTL', 3600);
define('MASHUPGENERATOR_PINBOARDBOOKMARKS_USERNAME', '<change>');
define('MASHUPGENERATOR_PINBOARDBOOKMARKS_LIMIT', 10);

define('MASHUPGENERATOR_LASTFMTRACKS', false);
define('MASHUPGENERATOR_LASTFMTRACKS_TTL', 3600);
define('MASHUPGENERATOR_LASTFMTRACKS_USERNAME', '<change>');
define('MASHUPGENERATOR_LASTFMTRACKS_APIKEY', '<change>');
define('MASHUPGENERATOR_LASTFMTRACKS_LIMIT', 10);

define('MASHUPGENERATOR_TOPALBUM', false);
define('MASHUPGENERATOR_TOPALBUM_TTL', 3600);
define('MASHUPGENERATOR_TOPALBUM_LASTFM_USERNAME', '<change>');
define('MASHUPGENERATOR_TOPALBUM_LASTFM_APIKEY', '<change>');
define('MASHUPGENERATOR_TOPALBUM_LASTFM_AWS_KEY', '<change>');
define('MASHUPGENERATOR_TOPALBUM_LASTFM_AWS_SECRET', '<change>');
define('MASHUPGENERATOR_TOPALBUM_LASTFM_AMAZON_AFFILIATE', '<change>');

define('MASHUPGENERATOR_BLOGENTRIES', false);
define('MASHUPGENERATOR_BLOGENTRIES_TTL', 3600);
define('MASHUPGENERATOR_BLOGENTRIES_FEED', '<change>');
define('MASHUPGENERATOR_BLOGENTRIES_LIMIT', 10);

define('MASHUPGENERATOR_BLOGCOMMENTS', false);
define('MASHUPGENERATOR_BLOGCOMMENTS_TTL', 3600);
define('MASHUPGENERATOR_BLOGCOMMENTS_FEED', '<change>');
define('MASHUPGENERATOR_BLOGCOMMENTS_LIMIT', 10);

/**
 * Steps to retrieve an Instagram OAuth API:
 *
 * 1.) Register a client at http://instagram.com/developer/manage/
 * 2.) Open https://instagram.com/oauth/authorize/?client_id=<client_id>&redirect_uri=<redirect_uri>&response_type=token
 * 3.) Save the OAuth access token that has been appended to your redirect URI
 */
define('MASHUPGENERATOR_INSTAGRAM', false);
define('MASHUPGENERATOR_INSTAGRAM_TTL', 3600);
define('MASHUPGENERATOR_INSTAGRAM_USER_ID', '');
define('MASHUPGENERATOR_INSTAGRAM_ACCESS_TOKEN', '<change>');
define('MASHUPGENERATOR_INSTAGRAM_LIMIT', 10);

/**
 * Steps to get a Facebook access token:
 *
 * 1.) Register an app at https://developers.facebook.com/apps
 * 2.) Open https://www.facebook.com/dialog/oauth?client_id=<app id>&redirect_uri=<url>&scope=offline_access,read_stream&response_type=token
 *      - <url> need to be registered at https://developers.facebook.com/apps/<app_id>/websites
 * 3.) Save the OAuth access token that has been appended to your redirect URI
 */
define('MASHUPGENERATOR_FACEBOOK_PHOTOS', false);
define('MASHUPGENERATOR_FACEBOOK_PHOTOS_TTL', 3600);
define('MASHUPGENERATOR_FACEBOOK_PHOTOS_USER_ID', '<change>');
define('MASHUPGENERATOR_FACEBOOK_PHOTOS_ACCESS_TOKEN', '<change>');
define('MASHUPGENERATOR_FACEBOOK_PHOTOS_LIMIT', 10);
